* {
    -fx-tab-size: 4;

    -field-arithmatic-color: #8875a5;
    -pointer-arithmatic-color: #c97630;
    -loop-color: #e7be65;
    -io-color: #6897bb;

    -fx-highlight-fill: #646568;
}

.code-area > * {

}

.code-area:editable:focused {
    /* Disable selection effect */
    -fx-background-color: transparent;
    /*-fx-background-insets: 0, 0, 0, 0, 0;*/
    /*-fx-background-radius: 0, 0, 0, 0, 0;*/
}

.lineno {
    -fx-background-color: transparent;
    -fx-border-width: 0 3 0 0;
    /* Prevent border from overlapping */
    -fx-border-insets: 0.5, 0, 0.5, 0;
    -fx-border-color: hsba(0, 0%, 100%, 0.1);
    -fx-background-size: auto 100%;
    -fx-background-insets: 0, 0, 99999999, 0;
}

#output-octal {
    -fx-border-color: black;
    -fx-font-family: monospace;
    -fx-border-radius: 5;
    -fx-padding: 1;
    -fx-start-margin: 2;
    -fx-end-margin: 2;
    -fx-font-size: 14;
}

#output-normal {
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-padding: 1;
    -fx-start-margin: 2;
    -fx-end-margin: 2;
    -fx-font-size: 14;
}

.output-error {
    -fx-text-fill: red;
    -fx-font-style: italic;
}

.output-seperator {
    -fx-text-fill: hsb(0, 0%, 50%);
    -fx-translate-y: -0.075em; /* Vertically center */
}

.memory-grid {
    -fx-snap-to-pixel: true;
    -fx-border-color: grey;
    -fx-border-radius: 5;
    -fx-padding: 1;
    /* To ensure the spacing is the same horizontally as vertically */
    -fx-start-margin: 2;
    -fx-end-margin: 2;
    -fx-font-size: 14;
}

.memory-field {
    -fx-font-family: monospace;
}

.memory-field:hover {
    -fx-background-color: grey;
    -fx-background-radius: 5;
    -fx-text-fill: white;
}

.memory-field-filled {
    -fx-font-weight: bolder;
}

.memory-field-char {
    -fx-font-style: italic;
}

/* Highlighting for everything that isn't a comment */
.highlight-code {
    -fx-font-family: monospace;

    /* Mitigation of small operators */
    -fx-font-weight: bolder;
}

.highlight-code:hover {
    -fx-underline: true;
}

.highlight-field-arithmatic {
    -fx-fill: -field-arithmatic-color;
}

.highlight-pointer-arithmatic {
    -fx-fill: -pointer-arithmatic-color;
}

.highlight-loop {
    -fx-fill: -loop-color;
}

.highlight-io {
    -fx-fill: -io-color;
    -fx-stroke-radius: 5;

    /* Mitigation of small operators */
    -fx-scale-y: 1.5; /* Make operators 50% larger */
    -fx-translate-y: -0.5em; /* Vertically center */
}

.highlight-comment {
    -fx-fill: hsb(0, 0%, 65%);
    -fx-font-style: italic;
}

.highlight-bracket-unbalanced {
    -fx-fill: red;
}

#no-output {
    -fx-font-style: italic;
    -fx-opacity: 0.5;
}

/* Move left */
.data0.chart-pie { -fx-pie-color: -field-arithmatic-color; }
/* Move right */
.data1.chart-pie { -fx-pie-color: -field-arithmatic-color; }
/* Increase */
.data2.chart-pie { -fx-pie-color: -pointer-arithmatic-color; }
/* Decrease */
.data3.chart-pie { -fx-pie-color: -pointer-arithmatic-color; }
/* Loop left */
.data4.chart-pie { -fx-pie-color: -loop-color; }
/* Loop right */
.data5.chart-pie { -fx-pie-color: -loop-color; }
/* Input */
.data6.chart-pie { -fx-pie-color: -io-color; }
/* Output */
.data7.chart-pie { -fx-pie-color: -io-color; }